* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./images/vladimir163rus-railway-2818748_1.jpg);

    /* Prevents the image from repeating like a grid */
    background-repeat: no-repeat;

    /* Centers the image perfectly on the screen */
    background-position: center;

    /* Forces the image to scale nicely and cover the entire viewport */
    background-size: cover;

    /* Keeps the background fixed in place while scrolling */
    background-attachment: fixed;


}

.signup-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    /* Slightly wider so input containers fit nicely */
    background-color: rgba(255, 255, 255, 0);
    /* Transparent white */
    backdrop-filter: blur(10px);
    /* Creates a soft glass blur effect */
    padding: 50px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.548);
    /* Soft glass edge border */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    margin-top: 80px;
    margin-left: 420px;
    /* height: 300px; */
    font-family: poppins;
}

h2 {
    color: white;
    
}

input {
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.205);
    color: white;
outline: none;
    font-size: 14px;
    font-family: poppins;
   
}

input::placeholder,
textarea::placeholder {
  color: white;/* Replace with your desired color */
  opacity: 1;    /* Ensures the color is fully vibrant in Firefox */
}

#sbtn{
  width: 80%;
padding: 5px;
height: 40px;
border-radius: 15px;
border: none;
font-family: poppins;
font-weight: 600;
background-color: chartreuse;
color: black;
}

#sbtn:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

#sbtn:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.swal2-popup {
  font-family: 'Poppins', sans-serif !important;
}

.swal2-title {
  font-family: 'Montserrat', sans-serif !important;
}

#sbtn2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 55px;
  border-radius: 17px;
  border: none;
  padding: 8px;
  font-family: poppins;
  font-weight: 600;

}


#sbtn2:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

#sbtn2:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

p{
  color: white;
}

a {
    color:white; 
   
}